<%- include("partials/header.ejs") %>
    <div class="content-about">
        <div class="head-text-about">
            <h1><span style="color: #cc0000;">About</span></h1>
            <div class="middle-line about-line">
                <div class="small-line"></div>
                <div class="small-line"></div>
                <div class="small-line"></div>
                <div class="small-line"></div>
                <div class="small-line"></div>
            </div>
            <p class="content-about-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dui nunc,
                molestie et odio id, convallis pellentesque est. Vivamus in urna sapien. 
                Duis ut tempus lacus. Donec dictum leo ipsum, ac cursus ipsum tempor vitae. 
                Aenean orci libero, lacinia eget est at, gravida egestas lorem. Suspendisse potenti. 
                Fusce vitae elit vel erat scelerisque aliquam. Class aptent taciti sociosqu ad litora 
                torquent per conubia nostra, per inceptos himenaeos. Duis imperdiet imperdiet turpis at cursus. 
                Nam eget urna quis enim venenatis tempor. Phasellus a consequat arcu, ac dictum turpis.
                <br>
                <br>
                Nullam pretium mauris massa, quis fermentum est tempor eu. 
                Praesent rutrum quam quis neque dignissim tristique. Etiam orci lacus, cursus vitae blandit vitae, 
                feugiat ac neque. Aliquam pretium vulputate vestibulum. Vestibulum tempus sit amet ex nec vehicula. 
                Praesent dapibus neque ac dapibus iaculis. Aliquam mollis semper orci at tincidunt. Ut sit amet 
                lectus vitae leo ullamcorper facilisis. Donec nec mattis nulla. Vivamus ornare pharetra ante, vel 
                viverra ante molestie sed. Nulla sed risus a turpis vestibulum molestie et et sem.</p>
        </div>
    </div>
<%- include("partials/footer.ejs") %>