<%- include("partials/header.ejs") %>
    <div class="content-about content-contact">
        <div class="head-text-about">
            <h1 class="contact-h1"><span style="color: #cc0000;">Contact</span></h1>
            <h3>Contact me if you want to be friends and if you like Attack On Titan!</h3>
            <div class="middle-line about-line">
                <div class="small-line"></div>
                <div class="small-line"></div>
                <div class="small-line"></div>
                <div class="small-line"></div>
                <div class="small-line"></div>
            </div>
            
            <p class="contact-p">Email: shiganshinaaot139@email.com
                <br>
                <br>
                Tel. number: +139 013 512 125
                <br>
                <br>
                Address: Shiganshina, Near the wall 845, Paradise</p>
        </div>
    </div>
<%- include("partials/footer.ejs") %>