<%- include("partials/header.ejs") %>
<div class="content">
    <div class="head-text">
        <h1><span style="color: #cc0000;">Blog</span> Website</h1>
        <h3>Daily blogs for your daily cup of coffee ☕</h3>
    </div>
    <div class="middle-line">
        <div class="small-line"></div>
        <div class="small-line"></div>
        <div class="small-line"></div>
        <div class="small-line"></div>
        <div class="small-line"></div>
    </div>
    <div class="coffee-img">
        <img src="images/Coffee.png" alt="a red cup of coffee">
    </div>
</div>
<%- include("partials/footer.ejs") %>