<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+ZA:wght@100..400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" 
    rel="stylesheet">
    <title>Blog Website</title>
    
</head>
<body>
    <header>
        <div class="nav-bar">
            <div class="logo">
                <img src="../images/blog-icon.png" alt="blog icon">
                <a href="#"><h4>Blog Website</h4></a>
            </div>
            <div class="nav-line-box"><div class="nav-line"></div></div>
                <div class="menu">
                    <a href="../"><h4>Home</h4></a>
                    <a href="../all-blogs"><h4 class="get-bigger">All Blogs</h4></a>
                    <a href="../create-blog"><h4 class="get-bigger">Create Blog</h4></a>
                    <a href="../contact"><h4>Contact</h4></a>
                    <a href="../about"><h4>About</h4></a>
                </div>
        </div>
    </header>
<div class="blog-container">
    <div class="blog-box">
        <h2><span style="color: #cc0000;"><%= title %></span></h2>
        <p class="why"><%= content %><p>
            <div class="middle-line-create">
                <div class="small-line small-line-create"></div>
                <div class="small-line small-line-create"></div>
                <div class="small-line small-line-create"></div>
                <div class="small-line small-line-create"></div>
                <div class="small-line small-line-create"></div>
            </div>    
        
    </div>
    <div class="blog-img-container">
        <img src="../images/reading.png" alt="guy reading">
        <div class="edit-delete">
            <form action="/delete" method="post">
                <input class="save-blog-btn button1" type="submit" value="Delete Post">
            </form>
            <form action="/edit/:id" method="post">
                <input class="edit-blog-btn button2" type="submit" value="Edit Post">
            </form>
        </div>
    </div>
</div>
<footer>
    <div class="footer-container">
        <div class="footer-content"> 
            <div class="media-icons">
                <a href="#"><img src="../images/twitter.svg"></a>
                <a href="#"><img src="../images/twitch.svg"></a>
                <a href="#"><img src="../images/facebook.svg"></a>
                <a href="#"><img src="../images/instagram.svg"></a>
                <a href="#"><img src="../images/tiktok.svg"></a>
            </div>
            <div style="width: 100%; height: 1px; background-color: #f2ebe6;"></div>
            <div class="footer-text"><p style="padding-top: -20px;">© From new programmer 2024</p></div>
        </div>
    </div>
</footer>
</body>
</html>