body {
    background-color: #e9ded6;
}

.nav-bar {
    display: flex;
    background-color: #704f3a;
    width: 100%;
    height: 80px;
    position: absolute;
    top: -1px;
    left: -1px;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 350px;
    height: 80px;
    margin-left: 50px;
}

.logo h4 {
    font-size: 30px;
    font-family: "Playwrite ZA", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
}

.nav-line {
    width: 1%; 
    height: 1px; 
    background-color:#704f3a;
}

.nav-line-box {
    display: flex;
    justify-content: center;
    width: 2%;
}

.logo img {
    width: 60px;
}

.logo img:hover {
    width: 60px;
    color: #f2ebe6;
}


.menu {
    display: flex;
    gap: 50px;
    height: 80px;
    align-items: center;
    margin-right: 50px;
}

.menu h4 {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #f2ebe6;
}

.footer-container {
    display: flex;
    background-color: #704f3a;
    width: 100%;
    height: 140px;
    margin-left: -10px;
    margin-bottom: -10px;
    justify-content: center;
    padding-right: 16px;
}

.footer-container .media-icons {
    display: flex;
    width: 500px;
    gap: 60px;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 18px;
}

.footer-container img {
    width: 30px;
} 

.footer-content {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    align-items: center;
    
}

.footer-text {
    position: relative;
    font-size: 20px;
    bottom: 5px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    gap: 20px;
    height: 72vh;
}

.head-text {
    width: 600px;
}

.head-text h3 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h1 {
    margin-top: 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 8px;
    margin-bottom: -5px;
}

.middle-line {
    width: 200px;
    display: flex;
    gap: 12px;
}

.small-line {
    width: 30px;
    border: none;
    height: 0.5px;
    background-color: black;
}

.coffee-img {
    height: 550px;
}

.coffee-img img {
    height: 550px;
} 

h1 {
    font-size: 7rem;
    width: 600px;
}

.head-text h3 {
    font-size: 2rem; 
    width: 600px;
}

.content-about {
    height: 72vh;
    display: flex;
    justify-content: center;
    margin-top: 85px;
    gap: 20px;
}

.head-text-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.head-text-about h1 {
    text-align: center;
    width: 100%;

}

.head-text-about .content-about-p {
    text-align: center;
    width: 70%;
    font-size: 22px;
}

.head-text-about h3 {
    text-align: center;
    font-size: 1.5rem;
}

.about-line {
    height: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-p {
    font-size: 25px;    
}

.div-form {
    width: 830px;
    margin-right: -170px;
}
form {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}


label {
    width: 100%;
}

input {
    width: 300px;
    border: 3px solid #cc0000;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    height: 50px;
    font-size: 30px;
    background-color: #e9ded6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

textarea {
    width: 90%;
    border: 1.5px solid #cc0000;
    border-radius: 5px;
    height: 250px;
    font-size: 20px;
    padding: 10px;

}

.save-blog-btn {
    width: auto;
    height: auto;
    font-size: 25px;
    text-align: center;
    border: 3px solid #cc0000;
    border-radius: 20px;
    font-family: "Playwrite ZA", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    padding: 5px 15px 5px 15px;
    margin-top: 20px;
    background-color: #f2ebe6;
    transition-duration: 0.4s;
}
  
  .save-blog-btn:hover {
    background-color: #cc0000;
    color: white;
  }

h2 {
    font-size: 30px;
}

.content-create {
    height: auto;
    display: flex;
    justify-content: end;
    margin-top: 85px;
    margin-bottom: 20px;
    align-items: center;
    width: 100.25%;
}

.content-create img {
    width: 600px;
    height: 450px;
    z-index: -1;
}

.create-head-text {
    margin: 0px 50px 400px -40px;
}

.create-head-text > h2 {
    font-size: 60px;
}

.create-head-text > h5 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.middle-line-create {
        display: flex;
        gap: 1rem;
}

.blogs-window {
    gap: 80px;
    border: 3px solid #cc0000;
    border-radius: 20px;
    font-family: "Playwrite ZA", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 50px;
    background-color: #f2ebe6;
    opacity: 0.8;
    padding: 0px 40px 0px 40px;
    width: 50%;
    margin-right: -100px;
    margin-top: 50px;
    margin-bottom: 46px;
}

.blogs-window p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    height: auto;
}

.blogs-window h5 {
    margin-top: 20px;
    height: auto;
    margin-bottom: 20px;
}

.content-blogs {
    display: flex;
    justify-content: center;
    align-items: start;
}

.content-blogs-no-blogs {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 72vh;
}

.show-blog:hover {
    color: gold;
}

.all-blogs-head-text > h2 {
    font-size: 60px;
    
}

.all-blogs-head-text > h5 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.all-blogs-head-text {
    margin: 0px 30px 0px 30px;
    width: 15rem;
    margin-top: 50px;
    
}

.blog-container {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.blog-box {
    width: 57%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.blog-box .why {
    background-color: #f2ebe6;
    opacity: 0.8;
    border: 3px solid #cc0000;
    border-radius: 20px;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 28px;
    padding: 20px;
    width: 100%;

}

.blog-box h2 {
    font-family: "Playwrite ZA", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 3.5rem;
    width: 100%;
}

.blog-container img {
    width: 500px;
    height: 430px;
    margin-top: 50px;
}

.edit-delete {
    display: flex;
    justify-content: center;
    width: 40%;
    gap: 20px;
}

.edit-blog-btn {
    width: auto;
    height: auto;
    font-size: 25px;
    text-align: center;
    border: 3px solid rgb(27, 101, 27);
    border-radius: 20px;
    font-family: "Playwrite ZA", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    padding: 5px 15px 5px 15px;
    margin-top: 20px;
    background-color: #f2ebe6;
    transition-duration: 0.4s;
    margin-bottom: 20px;
}

 .delete-blog-btn {
    width: auto;
    height: auto;
    font-size: 25px;
    text-align: center;
    border: 3px solid #cc0000;
    border-radius: 20px;
    font-family: "Playwrite ZA", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    padding: 5px 15px 5px 15px;
    margin-top: 20px;
    background-color: #f2ebe6;
    transition-duration: 0.4s;
    margin-bottom: 20px;
}

.delete-blog-btn:hover {
    background-color: #cc0000;
    color: white;
  }
  
  .edit-blog-btn:hover {
    background-color: rgb(27, 101, 27);
    color: white;
  }

.blog-img-container {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    position: static;
    align-content: space-around;
}

.all-blogs-img img {
    z-index: -1; 
    width: 100%; 
    height: auto; 
    align-self: center; 
}

.all-blogs-img {
    display: flex;
    justify-content: center;
    align-self: center; 
    
}
@media (max-width: 1650px) {

    .content-create .div-form {
        width: 750px;
    }
}

@media (max-width: 1600px) {
    .head-text-about .content-about-p {
        width: 100%;
    }
}

@media (max-width: 1550px) {
    .content .coffee-img {
        height: 450px;
    }
    .content .coffee-img img {
        height: 450px;
    }

    .head-text-about .content-about-p {
        width: 100%;
    }
}

@media (max-width: 1500px) {
    .head-text-about .content-about-p {
        width: 100%;
    }
}

@media (max-width: 1580px) {

    .content-create .div-form {
        width: 700px;
    }
}

@media (max-width: 1450px) {
    .content .head-text {
        width: 500px;
    }

    .content .head-text h1 {
        font-size: 6rem;
        width: 500px;
    }

    .content .head-text h3 {
        font-size: 1.6rem;
        width: 500px;
    }

    .content .middle-line {
        gap: 8px;
        width: 180px;
    }

    .content .small-line {
        width: 25px;
    }

    .content {
        gap: 15px;
    }

    
}

@media (max-width: 1530px) {

    .content-create .create-head-text h2 {
        font-size: 50px;
    }

    .content-create .create-head-text h5 {
        font-size: 18px;
    }

    .content-create .div-form {
        margin-right: -90px;
    }

    .content-create img {
        width: 500px;
        height: 325px;
    }
}

@media (max-width: 1220px) {
    

    .content .head-text {
        width: 420px;
    }

    .content .head-text h1 {
        font-size: 5.5rem;
        width: 420px;
    }

    .content-about .head-text-about h1 {
        font-size: 6rem;
        width: 420px;
    }

    .content-about .head-text-about .content-about-p {
        font-size: 19px;
    }

    .content-about .head-text-about .contact-p {
        font-size: 25px;
    }

    

    .content .head-text h3 {
        font-size: 1.4rem;
        width: 420px;
    }

    .content .middle-line {
        gap: 8px;
        width: 160px;
    }

    .content .small-line {
        width: 20px;
    }

    .content {
        gap: 12px;
    }

    .content .coffee-img {
        height: 400px;
    }
    .content .coffee-img img {
        height: 400px;
    }

}

@media (max-width: 1450px) {
    .content-create .div-form {
        width: 600px;
    }

    .content-create .div-form h2 {
        font-size: 20px;
    }

    .content-create input {
        font-size: 20px;
    }

    .content-create .save-blog-btn {
        width: 100px;
        height: 30px;
        padding-bottom: 40px;
    }
}

@media (max-width: 1050px) {

    
    .content .head-text {
        width: 420px;
    }

    .content .head-text h1 {
        font-size: 4.8rem;
        width: 420px;
        margin-top: 0px;
        margin-bottom: 50px;
    }

    .content .head-text h3 {
        font-size: 1.4rem;
        width: 420px;
    }

    .content .middle-line {
        gap: 8px;
        width: 160px;
    }

    .content .small-line {
        width: 20px;
    }

    .content {
        gap: 12px;
    }

    .content .coffee-img {
        height: 300px;
    }
    .content .coffee-img img {
        height: 300px;
    }

}

@media (max-width: 1350px) {
    
    .content-create .create-head-text {
        margin-right: 0px;
    }
}

@media (max-width: 1150px) {

    .nav-bar .logo h4 {
        font-size: 25px;
    }

    .nav-bar .logo img {
        width: 55px;
    }
    .nav-bar .logo {
        margin-left: 30px;
    }

    .nav-bar .menu h4 {
        font-size: 20px;
    }

    .nav-bar .menu {
        gap: 25px;
    }
}

@media (max-width: 1100px) {


    .blog-container .blog-box h2 {
        font-size: 45px;
    }

    .blog-container img {
        width: 450px;
        height: 380px;
    }

}
@media (max-width: 950px) {
    .blog-container .blog-box h2 {
        font-size: 35px;
    }

    .nav-bar .logo h4 {
        font-size: 25px;
    }

    .nav-bar .logo img {
        width: 50px;
    }
    .nav-bar .logo {
        margin-left: 30px;
    }

    .nav-bar .menu h4 {
        font-size: 20px;
    }

    .nav-bar .menu {
        gap: 20px;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .content .head-text {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .content .head-text h1 {
        text-align: center;
        font-size: 9rem;
        width: 80%;
        margin-bottom: 0px;
        margin-top: 50px;
    }

    .content .head-text h3 {
        text-align: center;
        font-size: 3rem;
    }

    .content .middle-line {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 25px;
    }

    .content .middle-line .small-line {
        width: 50px;
    }

    .content .coffee-img {
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
        margin-top: 80px;
        margin-bottom: 20px;
    }

    .content .coffee-img img {
        width: 600px;
        height: auto;
    }

}

@media (max-width: 1300px) {
    .content-create .div-form {
        width: 500px;
    }
}

@media (max-width: 1200px) {
    .content-create .div-form {
        width: 500px;
    }

    .content-create img {
        width: 390px;
        height: auto;
    }
}

@media (max-width: 1100px) {

    
    .content-create .create-head-text h2  {
        font-size: 40px;
    }

    .content-create .create-head-text h5  {
        font-size: 15px;
    }

    .content-create .create-head-text .middle-line-create .small-line-create {
        width: 20px;
    }
}

@media (max-width: 1030px) {
    .content-create .div-form {
        margin-right: -120px;
    }
}

@media (max-width: 1000px) {
    .content-blogs-no-blogs {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: auto;
    }

    .content-blogs-no-blogs .all-blogs-head-text h2{
        font-size: 90px;
    }

    .content-blogs-no-blogs .all-blogs-head-text {
        width: 100%;
        text-align: center;
        margin-top: 0px;
    }


    .content-blogs-no-blogs .all-blogs-head-text h5{
        font-size: 35px;
    }

    .content-blogs-no-blogs .blogs-window {
        width: 70%;
        margin-right: 0px;
    }

    .content-blogs-no-blogs .blogs-window h5 {
        font-size: 25px;    
    }



    .content-blogs-no-blogs .all-blogs-img img {
        width: 60%;
    }

    .content-blogs {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .content-blogs .all-blogs-head-text h2{
        font-size: 90px;
    }

    .content-blogs .all-blogs-head-text {
        width: 100%;
        text-align: center;
        margin-top: 0px;
    }


    .content-blogs .all-blogs-head-text h5{
        font-size: 35px;
    }

    .content-blogs .blogs-window {
        width: 70%;
        margin-right: 0px;
    }

    .content-blogs .all-blogs-img img {
        width: 100%;
    }

    .middle-line-create {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .content-create .create-head-text .middle-line-create .small-line-create {
        width: 40px;
    }

    .content-create {
        flex-wrap: wrap; 
    }

    .content-create .create-head-text {
        width: 100%;
        margin-bottom: 0px;
        text-align: center;
    }

    .content-create .create-head-text h2 {
        font-size: 100px;
    }

    .content-create .create-head-text h5 {
        font-size: 35px;
    }

    .content-create .div-form {
        width: 100%;
        margin-right: 0px;
        margin-top: 50px;
    }

    .content-create .div-form h2 {
        font-size: 30px;
    }

    .content-create img {
        width: 80%;
        height: auto;
        margin-top: 30px;
    }

    .content-create .div-form .save-blog-btn {
        font-size: 30px;
        border: 5px solid #cc0000;
        width: auto;
        height: auto;
        padding: 5px 15px 5px 15px;
    }
}

@media (max-width: 900px) {
    .nav-bar .logo {
        gap: 10px;
        margin-left: 20px;
    }

    .nav-bar .menu .get-bigger {
        width: 105px;
        text-align: center;
    }

    .nav-bar .menu {
        margin-right: 20px;
    }

    .content-about .head-text-about .content-about-p {
        font-size: 17px;
    }

    .content-about .head-text-about .contact-p {
        font-size: 25px;
    }
}
@media (max-width: 800px) {
    .content-blogs .blogs-window h5{
        font-size: 30px;
    }

    .content-blogs .blogs-window p{
        font-size: 13px;
    }

    .content-blogs .all-blogs-head-text h2{
        font-size: 70px;
    }

    .content-blogs .all-blogs-head-text h5{
        font-size: 25px;
    }

    .content-blogs .all-blogs-img img {
        width: 60%;
        margin: 0px;
    }
    
    .blog-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 130px;
    }

    .blog-container .blog-box {
        width: 90%;
        
    }

    .blog-container .blog-box .why {
        font-size: 16.5px;
    }

    .blog-container .blog-box h2 {
        font-size: 40px;
        text-align: center;
    }
    
    .head-text-about {
        margin-top: 40px;
    }
    .nav-bar .logo h4 {
        font-size: 25px;
    }

    .nav-bar {
        height: 120px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-bar .logo {
        height: 48px;
        width: 400px;
        justify-content: center;
        margin-top: 7px;
        margin-left: 0px;
    }

    .nav-bar .menu {
        width: 100%;
        justify-content: center;
        margin: 0;
        height: 45px;
    }

    .nav-bar .menu h4 {
        font-size: 15px;
        width: 50px;
        gap: 10px;
        text-align: center;
    }

    .nav-bar .menu .get-bigger {
        width: 100px;
        text-align: center;
    }

       
    .nav-bar .nav-line {
        width: 90%; height: 1px; 
        background-color:#f2ebe6;;
    }
    
    .nav-bar .nav-line-box {
    display: flex;
    justify-content: center;
    width: 100%;
    }

    .content-create {
        margin-top: 120px;
    }
}



@media (max-width: 750px) {
    .content .head-text {
        margin-top: 50px;
    }

    .content .head-text h1 {
        text-align: center;
        font-size: 7rem;
        margin-bottom: 0px;
        margin-top: 50px;
    }

    .content .head-text h3 {
        font-size: 2rem;
    }

    .content .middle-line {
        gap: 23px;
    }

    .content .middle-line .small-line {
        width: 50px;
    }

    .content .coffee-img {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .content .coffee-img img {
        width: 500px;
    }

    .content-create .div-form .save-blog-btn {
        font-size: 20px;
        border: 4px solid #cc0000;
        width: auto;
        height: auto;
        padding: 5px 15px 5px 15px;
    }

    .content-create .create-head-text .middle-line-create .small-line-create {
        width: 30px;
    }
}

@media (max-width: 740px) {

    .content-about {
        height: auto;
    }


    .content-create .create-head-text h2 {
        font-size: 70px;
    }

    .content-create .create-head-text h5 {
        font-size: 25px;
    }

    .content-create .div-form h2 {
        font-size: 25px;
    }

    .content-create .create-head-text h5 {
        font-size: 25px;
    }
}

@media (max-width: 600px) {


    .content .head-text {
        margin-top: 50px;
    }

    .content .head-text h1 {
        font-size: 6rem;
        width: 80%;
        margin-bottom: 0px;
        margin-top: 30px;
    }

    .content .head-text h3 {
        font-size: 1.7rem;
        width: 600px;
    }

    .content .middle-line {
        gap: 23px;
    }

    .content .middle-line .small-line {
        width: 45px;
    }
    .content .coffee-img img {
        width: 450px;
        height: auto;
    }

    .content .coffee-img {
        width: 450px;
        height: auto;
    }

}

@media (max-width: 400px) {

    .content-blogs-no-blogs {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: auto;
    }

    .content-blogs-no-blogs .all-blogs-head-text h2{
        font-size: 60px;
    }

    .content-blogs-no-blogs .all-blogs-head-text h5{
        font-size: 20px;
    }

    .content-blogs-no-blogs .all-blogs-head-text {
        width: 100%;
        text-align: center;
        margin-top: 0px;
    }


    .content-blogs-no-blogs .blogs-window {
        width: 70%;
        margin-right: 0px;
    }

    .content-blogs-no-blogs .blogs-window h5 {
        font-size: 25px;    
    }



    .content-blogs-no-blogs .all-blogs-img img {
        width: 60%;
    }
    
    .content-blogs .all-blogs-head-text h2{
        font-size: 60px;
    }

    .content-blogs .all-blogs-head-text h5{
        font-size: 20px;
    }

    .content-blogs .blogs-window h5{
        font-size: 25px;
    }

    .content-blogs .blogs-window p{
        font-size: 12px;
    }

    .content-blogs .all-blogs-img img {
        width: 60%;
    }

    .content-blogs {
        margin-top: 60px;
    }

    .content-blogs .blogs-window {
        width: 52%;
    }
    .blog-container .blog-img-container {
        width: 380px;
    }

    .blog-container .blog-box h2 {
        width: 380px;
    }

    .blog-container .blog-box .why {
        width: 350px;
    }

    .nav-bar .menu {
        width: 400px;
        justify-content: center;
        margin: 0;
        height: 45px;
    }

    .content-create .create-head-text .middle-line-create .small-line-create {
        width: 25px;
    }

    .nav-bar .menu h4 {
        font-size: 10px;
        width: 50px;
        gap: 10px;
        text-align: center;
    }

    .nav-bar .menu .get-bigger {
        width: 50px;
        text-align: center;
    }

    .content .head-text {
        width: 400px;
    }

    .content .head-text h1 {
        font-size: 4.5rem;
        width: 400px;
        margin-bottom: 0px;
        margin-top: 30px;
    }

    .content .head-text h3 {
        font-size: 1.4rem;
        width: 350px;
    }

    .content .middle-line {
        gap: 20px;
    }

    .content .middle-line .small-line {
        width: 42px;
    }
    .content .coffee-img img {
        width: 300px;
        height: auto;
    }

    .content .coffee-img {
        width: 350px;
        height: auto;
    }

    .footer-container .media-icons {
        width: 400px;
        gap: 30px;
    }

    .footer-container .footer-text {
        font-size: 15px;
    }

    .content-about .head-text-about h1 {
        font-size: 4.5rem;
        width: 400px;
    }

    .content-about .head-text-about .contact-h1 {
        font-size: 4.2rem;
        width: 400px;
    }

    .content-about .head-text-about h3 {
        font-size: 1.2rem;
        width: 380px;
    }

    .content-about .head-text-about .contact-p {
        width: 300px;
        font-size: 19px;
    }
    
    .content-create .create-head-text h2 {
        font-size: 50px;
    }

    .content-create .create-head-text h5 {
        font-size: 20px;
    }

    .content-create .div-form h2 {
        font-size: 18px;
    }

    .content-create .create-head-text h5 {
        font-size: 18px;
    }
    .content-create .div-form .save-blog-btn {
        width: 120px;
        height: 55px;
        font-size: 27px;
        border: 4px solid #cc0000;
    }
}